{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "no-console": "off",
    "import/no-extraneous-dependencies": "off"//,
    //"no-param-reassign": [2, { "props": false }]
  },
  "env": {
    "browser": true
  }
}